*
  box-sizing: border-box

html
  height 100%

body
  margin 0
  height 100%
  font-family 'PTSans'
h1
  margin 0

header,
nav,
section,
article,
aside,
footer
  display block

a
  text-decoration: none
ul{
  padding 0px
  margin 0px
}
li{
  list-style-type none
picture{
  height 100%
}
}
img{
  display block
}
.container{
   background url("../assets/bg.png") 100% 100% no-repeat
   height 100%
   max-width 100%
   background-size: cover;
   padding 0
}
