.slwrap{
  position relative
}
.slider {
	width: 100%;
	height: 400px;
	position: relative;
	overflow: hidden;
    &__btn{
      position: absolute
      display flex
      justify-content center
      align-items: center;
      top 43%
      z-index 2
      width: 32px;
      height: 57px;
      background-color: #f5c506;
      &-icon{
        width: 13px;
        height: 19px;
      }
      &_next{
        right 0
      }
      &:hover{
        opacity 0.71
      }
      &:focus{
        border-style none
      }

    }
	&__body {
		min-width: auto;
		height: 400px;
		display: flex;
		position: relative;
		align-items: stretch;
		transition: all .5s ease;
	}

	&__slide {
		min-width: 100%;
		height: 400px;
		background-size: cover;
		background-position: center;
		display: flex

        &-video{
          display flex
          align-items: center
          justify-content flex-end
          width 50%
        }
        &-text{
          display flex
          flex-direction column
          align-items center
          justify-content flex-start
          width: 50%;
          color: #ffffff;
          font-family: Asap;
          font-size: 63px;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 0.63px;
          align-self: center;
          &_gold{
            color: #f5c506;
          }
        }
	}
}
